<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new country</title>
</head>
<body>
    <h2>Add new country below:</h2>
    <form action="/countries" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="country name..">
        <br>
        <label for="capital">Capital</label>
        <input type="text" name="capital" id="capital" placeholder="capital..">
        <br>
        <label for="majorcities">Major cities</label>
        <ul> 
            <li><input type="text" name="majorcities" id="city1" placeholder="city 1"></li>
            <li><input type="text" name="majorcities" id="city2" placeholder="city 2"></li>
            <li><input type="text" name="majorcities" id="city3" placeholder="city 3"></li>
            <li><input type="text" name="majorcities" id="city4" placeholder="city 4"></li>
            <li><input type="text" name="majorcities" id="city5" placeholder="city 5"></li>
        </ul>
        <br>
        <label for="population">Population</label>
        <input type="text" name="population" id="population" placeholder="population..">
        <br>
        <button>submit</button>
    </form>
    <br>
    <a href="/countries">Back</a>
</body>
</html>